
.hero-area{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#00000073,#00000073), url(./assets/Rectangle\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
